html{
    background-color: #121212;
}
button{
    font-weight: bold;
    font-size: 32px;
    border-color: lightgrey;
    border-style: solid;
    border-radius:50%;
    width: 60px;
    height: 60px;
}

#calculator-container{
    width: 500px;
    display: grid;
    gap: 25px 15px;
    grid-template-areas: 
    "textfield textfield textfield textfield"
    "plus min multip divide"
    "one two three four"
    "five six seven eight"
    "nine zer clear equals";
}
#clear{
    grid-area: clear;
    background-color: #F98B85; /*https://www.color-name.com/subtle-red.color*/
}
#add{
    grid-area: plus;
}
#substract{
    grid-area: min;
}
#multiply{
    grid-area: multip;
}
#divide{
    grid-area: divide;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#zero{
    grid-area: zer;
}
.number{
    background-color: #36454f; /*https://www.color-hex.com/color-palette/1407*/
    color: lightgrey;
}
.operator{
    background-color: #85F3F9;
}
.textfield{
    height: 40px;
    grid-area: textfield;
    background-color: lightgray;
    border-radius: 10px;
    border-style: none;
}
#equals{
    grid-area: equals;
    background-color: #06747A;
}