html{
    background-color: #121212;
}
#calculator-container{
    width: 500px;
    display: grid;
    gap: 50px 15px;
    grid-template-areas: 
    "textfield textfield textfield textfield textfield"
    "clear plus minus multip divide"
    "number number number number number"
    "number number number number number";
}
#clear{
    grid-area: class;
    background-color: #F98B85; /*https://www.color-name.com/subtle-red.color*/
}
#plus{
    grid-area: plus;
}
#minus{
    grid-area: minus;
}
#multiply{
    grid-area: multip;
}
#divide{
    grid-area: divide;
}
.operator{
    background-color: #85F3F9;
    border-radius:50%;
    width: 40px;
    height: 40px;
}
.textfield{
    grid-area: textfield;
}